
header{
    height: 110px;
    background-color: rgb(124, 4, 124);
    width: 100%;
    position: relative;
    top:0;
    display: table;
}
footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logo-name{
    float: right;
    font-size: 30px;
    width: auto;
}
.logo-position{
    float: left;
    width: 20%;
    display:table-cell;
}
.ul-menu-position{
    width: 73%;
    list-style: none;
    text-align: center;
    height: 100px;
    float:right;
    padding-right: 20px;
    display:table-cell;
}
.ul-menu-position li{
    display: inline-block;
    text-align: center;
    padding-left: 8%;
    padding-right: 3%;
    padding-top: 15px;
    padding-bottom: 15px;   
    border-right: 4px solid black; 
}
.ul-menu-position a{
    font-size: 30px;
    text-align: center;
    color:black;   
}
.ul-menu-position a:hover{
    background-color: blueviolet;
}
.active{
    text-decoration: none;
}
.user-info{
    float:left; 
    width: 80%;
    right: 0;
}
.user-info h1{
    top:0;
    height: auto;
}
.ava{
    width: 100%;
} 
.w-g{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 95%;
}
.user-image{
    width: 20%;
    height: auto;
}
.user-table{
    width: 90%;
    height: 90%;
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    left: 20px;
    right: 20px;
}
.user-table td{
    border: 1px solid black;
    border-collapse: collapse;
}
.user-table th{
    border: 1px solid black;
    border-collapse: collapse;
}
.chars{
    list-style: none;
    height: auto;
    width:50%;
}
.disp{
    display: table;
}
.disp li{
    padding-bottom: 100px;
}
.disp div{
    display: table-cell;
}
.form_pages pre input{
    display: inline-block;
}